.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarpage {
  height: calc(100vh - 12em);
}

/* Search Page */

.Main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.Yougle-logo {
  height: 20vmin;
}

.Search-bar {
  padding-bottom: 2px 4px;
  width: 80vw;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

/* Sign Up */

.Main-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Row-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 1em;
  width: auto;
}

.Col-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 2em;
}

.Pass-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 0.5em;
}

/* Nav Bar */

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  height: 4em;
  /* border-radius: 0 0 1vw 1vw; */
  box-shadow: 1px 1px 4px #282c3422;
}

.Bar {
  position: relative;
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Nav-link {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  font-size: 1em;
  padding: 0 1em 0;
  font-weight: bold;
  transition: transform 0.15s;
}

.Nav-link:hover {
  transform: scale(1.1);
}

#account-buttons {
  position: absolute;
  right: 0;
}